@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  //Text
  --color--dark-blue: hsl(238, 29%, 16%);
  --color--soft-red: hsl(14, 88%, 65%);

  --color--soft-violet: hsl(273, 75%, 66%);
  --color--soft-blue: hsl(240, 73%, 65%);
  --color--grayish-blue-dark: hsl(237, 12%, 33%);
  --color--grayish-blue-light1: hsl(240, 6%, 50%);
  --color--grayish-blue-light2: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 1.9;
  // width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    var(--color--soft-violet),
    var(--color--soft-blue)
  );
}
